footer {
  height: 130px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e3e3e3;
}

.footer-green {
  color: #1ba44b;
  font-size: 1.5rem;
}

.footer-green-upper {
  margin-top: 0.3rem;
  text-transform: uppercase;
  color: #004b3b;
  font-size: 1.2rem;
}

.footer-rigth {
  color: #0603b4d2;
  text-align: right;
  font-size: 1.2rem;
}

.overflow-auto {
  overflow: auto !important;
}
.overflow-hidden {
  overflow: hidden !important;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
